{% extends "landing_header_friend.html" %}
{% load static %}

{% block  extra_css %}
<style>

.goog-trans-control { 
  float: left;
  border: groove 1px gray; background: #ddd;
  border-radius: 3px;
  padding: 0 0.3em; }
.send {
  clear: both;
  margin-top: 2em; }
.goog-trans-control { 
  margin-right: 1em; }
.goog-trans-control * {
  color: black;
  text-decoration: none;
  font: 100% Calibri, sans-serif !important; }
#text {
  min-height: 4em;
  border: solid 1px; }
</style>
<script src="{% static 'js/annyang.min.js' %}"></script>
<script src="{% static 'js/voice.js' %}"></script>

<script type="text/javascript">
    var checkpronun2 = function() {
    var word = document.getElementById("wordcheck").value;
    
    var u = new SpeechSynthesisUtterance(); 
    //var user = document.getElementById('wordcheck').value;
     u.text = word;
     u.lang = 'en-US';
     u.rate = 1.0;
     speechSynthesis.speak(u); 
     document.getElementById("result").innerHTML = "<b>You checked pronunciation for:</b> " + word; 
    };
  

</script>

{% endblock %}

{% block content %}
<br><br>
<div class="container friend">

   
    <div class="col-md-9">
    
        
         <h2 style="color: royalblue;">{{ frndobj.group_name }}</h2>
        
        <form method="post" id="postform">
            {% csrf_token %}
            {{ form.post }}
            <br>
            <button type="submit">Submit</button>
        </form>
        <h2>{{ text }}</h2>
        {% for post in posts %}
        {% if post.user == request.user and post.user.get_full_name %}
          <h1 style="border-style: outset; text-align: right;">
            <p style="font-size: 15px; text-align: center;">{{ post.created }}</p>
            <i style="font-size: 15px;"><b>&nbsp;{{ post.user.get_full_name }}(You) </b></i>
        {% elif post.user == request.user %}
          <h1 style="border-style: outset; text-align: right;">
            <p style="font-size: 15px; text-align: center;">{{ post.created }}</p>
            <i style="font-size: 15px;"><b>&nbsp;You </b></i>
        {% elif post.user.get_full_name %}
          <h1 style="border-style: outset;">
            <p style="font-size: 15px; text-align: center;">{{ post.created }}</p>
            <i style="font-size: 15px;"><b>&nbsp;{{ post.user.get_full_name }} </b></i>
        {% elif post.user.get_first_name %}
          <h1 style="border-style: outset;">
            <p style="font-size: 15px; text-align: center;">{{ post.created }}</p>
            <i style="font-size: 15px;"><b>&nbsp;{{ post.user.get_first_name }} </b></i>
        {% else %}
          <h1 style="border-style: outset;">
            <p style="font-size: 15px; text-align: center;">{{ post.created }}</p>
            <i style="font-size: 15px;"><b>&nbsp;{{ post.user }} </b></i>
        {% endif %}
        {% if post.user == request.user %}
          <p style="font-size: 18px; text-align: right;">{{ post.post }}</p>
        {% else %}
          <p style="font-size: 18px; text-align: left;">{{ post.post }}</p>
        {% endif %}
              
            </h1>
            <!-- Posted by {{ post.user.get_full_name }} on {{ post.created }} -->
        {% endfor %}
        <center>
            <div class="pagination">
           
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?{{ page_request_var }}={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Newer</a>
                {% endif %}
        
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
        
                {% if posts.has_next %}
                    <a href="?{{ page_request_var }}={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Older</a>
                {% endif %}
            </span> 
        
        </div> </center>
         </div>
         <div class="col-md-3">
         <b><span style="color:#32c5d2;">{{ frndobj.group_name }}</span></b>
         <form method="POST" action="{% url 'home:change_group_name' %}">
         {% csrf_token %}
         <input class="" type="text" name="grpname" id="grname" maxlength="20" placeholder="Desired Group Name" required>
         <input type="submit" id="grpsubmit" value="Change" class="btn btn-info">
         </form><br>
        <b>Friends</b><br>

        {% for friend in friends %}
            <table class="table table-striped">
         <tr>
         <td> <a href="{% url 'accounts:view_profile_with_pk' pk=friend.pk %}">
            {% if friend.user.get_full_name %}
                {{ friend.user.get_full_name }}
            {% elif friend.user.get_first_name %}
            {{ friend.user.get_first_name }}
            {% else %}
            {{ friend.user }}
            {% endif %}
            </a></td>
            <td>
            <a href="{% url 'home:change_friends' operation='remove' pk=friend.pk %}" class="pull-right">
            <button type="button" class="btn btn-default btn-sm" id="removefrnd">Remove Friend</button>
            </a></td></tr></table>
        {% endfor %}
    </div>
    </div>
    
<script>
function googleSectionalElementInit() {
  new google.translate.SectionalElement({
    sectionalNodeClassName: 'goog-trans-section',
    controlNodeClassName: 'goog-trans-control',
    background: '#f4fa58'
  }, 'google_sectional_element');
}
</script>

 
{% endblock %}
{% block footer %}
     
{% endblock %}
