{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-83590998-1', 'auto');
  ga('send', 'pageview'); 
</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/Aptence logo.png' %}">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="google-site-verification" content="QFT2cJyPAsdiBK8VapRPiGWBwkpb_N5Zceyi3ONRuhs" />
    <!-- Google fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
<!--- font awesome -->
    

<script src="{% static 'js/agency.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="{% static 'assets/plugins/jquery.min.js' %}" type="text/javascript"></script>  
 <script src="{% static 'assets/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>


    {% block title %}
    <title>Friend Group Web app by Mohit</title>
    {% endblock %}
 
  
    {% block css %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/agency.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <script type="text/javascript">
    var logoutclick = function() {
        var u = new SpeechSynthesisUtterance(); 
        var user = document.getElementById('usrnm').value;
       u.text = "GoodBye!" + user + ' see you soon';
       u.lang = 'hi-IN';
       u.rate = 1.0;
       speechSynthesis.speak(u);
       setTimeout(function(){
          window.location.href = '/users/logout';
       }, 2000) 
    };
    </script>

   
    {% endblock %}

    {% block extra_css %}

 <style type="text/css">
    html
    {
        max-width: 100%;
    }
    body
    {
    max-width: 100%;
    overflow-x: hidden;
    }
               .c-content-box.c-size-md{
                    background-color: #F0F0F0;
                }
                .tp-bullets.round > .tp-bullet.selected{
                    background-color: #e1e8e9;
                }
                #reg_form1 .form-control{
                    font-size: 12px !important;
                    height: 37px !important;

                }
                #reg_form1 .c-theme-btn.btn{
                    height: 38px;
                    line-height: 20px;
                }
                #reg_form1 .c-btn-uppercase.btn-md{
                    font-size: 14px;
                }
                #extra_links ul{
                    width: 100%;
                }
                .loader {
                    position: fixed;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 9999;
                    background: url('{% static 'gif/Preloader_2.gif' %}') 50% 50% no-repeat rgb(249,249,249);
                }
p,a,h5{
color:#7f8c97 ;
}

.c-content-title-1.c-title-md > h3.c-font-uppercase{
color:#bbb !important;
}
.c-prefooter.c-bg-white
{
background:#000 !important;
}
@media (min-width:1023px) and (max-width: 1026px){
footer{
    bottom: 0;
    left: 0;
    width: 100%; 
}}

@media (max-width: 440px)
{
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg >
.input-group-btn > .btn
{
padding: 5px;
font-size: 12px;
}
.dropdown-menu{
    right:0 !important;
}
}
            </style>


    {% endblock %}
</head> 

{% block header %}

<body id="page-top" class="index">

    <!-- Navigation -->
    
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top friend">
        <div class="container menu"> 
            
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{% url 'home:home' %}"><img src="{% static 'img/logos/logo3.jpeg' %}" height= 70px width= 70px></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right friend">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'home:home'%}">home</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="{% url 'home:list' %}"> Friend &nbsp; <i class="fa fa-search" aria-hidden="true"></i></a>
                    </li> 
                     <li>
                        <a class="page-scroll" href="{% url 'home:leaderboard' %}"><i class="fa fa-users" aria-hidden="true"></i> &nbsp;Leaderboard  </a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'home:notification' %}"><i class="fa fa-bell" aria-hidden="true"></i> Notification</a>
                    </li>
                    {% if user.is_authenticated %}
					<input type="hidden" id="usrnm" value="{{user.username}}"></input>
                    <li><a class="page-scroll" href="{% url 'accounts:view_profile' %}">Welcome {{ user.username }}</a></li>
                    <li><a class="page-scroll" href="{% url 'accounts:logout' %}" onclick="logoutclick()">Logout</a></li>
                    {% else %}
                    <li>
                        <a class="page-scroll" href="{% url 'accounts:login' %}"><i class="fa fa-bell" aria-hidden="true"></i> Login</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'accounts:register' %}"><i class="fa fa-bell" aria-hidden="true"></i> Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        
    </nav>
 
    


{% endblock %}
{% block content %}
{% endblock %}

{% block footer %}
   
{% endblock %}