{% extends "landing_header_friend.html" %}
{% load static %}

{% block  extra_css %}
<script src="{% static 'js/annyang.min.js' %}"></script>
<script src="{% static 'js/voice.js' %}"></script>
<script type="text/javascript">
     var u = new SpeechSynthesisUtterance();
     u.text = 'Hello {{user.get_full_name}}! {{lbusers_list.0}} is topping the Leaderboard';
     u.lang = 'hi-IN';
     u.rate = 1.0;
     //u.onend = function(event) { alert('Finished in ' + event.elapsedTime + ' seconds.'); }
     speechSynthesis.speak(u);
     
     //speechSynthesis.cancel();
</script>

{% endblock %}

{% block content %}
<br><br>
<div class="container friend"> 
<center><h4 style="color:#32c5d2;">Leader Board</h4></center>
<br>
{% for user in lbusers_list %}
 <!-- { % url "posts:detail" id=obj.id % } -->   
  <div class="row"> 
  <div class="col-sm-12">
   <div class="thumbnail">
       
      <!--<a href=""> -->
              <div class="table-responsive">   
             <table class="table table-striped">
                  <tr>
                  <th></th>
                  <th> Rank</th>
                  <th id="name">Name </th>
                 <th>Username </th>
                 <th> Score</th>
                   </tr> 
                  <tr>
                  <td>
                 {% if user.image %}
                 <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
                                            
      <img src="/media/{{user.image}}" class="img-responsive" style="width:80px;height:50px;"></a>
      {% else %}
       <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
      <img  src="/media/image_not_available.png" class="img-responsive  profilleimage" style="width:80px;height:50px;"></a>
      {% endif %}
                   </td>
                   <td> #{{ forloop.counter }} </td>
                   <td> {{user.user.get_full_name}} </td>
                    <td>{{user}}</td>
                    <td> {{user.coin}} </td>
                  </tr>
                     </table>
      </div>          
    </div>
  </div>
  </div> 

    {% endfor %}

</div> 
{% endblock %}
