{% extends "landing_header_friend.html" %}
{% load static %}

{% block  extra_css %}
<script src="{% static 'js/annyang.min.js' %}"></script>
<script src="{% static 'js/voice.js' %}"></script>

{% endblock %}

{% block content %}
<br><br>
<div class="container friend">
{% if not lbusers_list %}
<center><h4 style="color:#ac2925;">You have no incoming friend request.</h4></center>
<script type="text/javascript">
     var u = new SpeechSynthesisUtterance();
     u.text = 'Hello {{user.get_full_name}}! Looks like no one have requested you, come and check sometime later';
     u.lang = 'hi-IN';
     u.rate = 1.0;
     //u.onend = function(event) { alert('Finished in ' + event.elapsedTime + ' seconds.'); }
     speechSynthesis.speak(u);
     
     //speechSynthesis.cancel();
</script>
{% else %}
<center><h4 style="color:#32c5d2;">You have following friend request(s)</h4></center>
<script type="text/javascript">
     var u = new SpeechSynthesisUtterance();
     u.text = 'Hello {{user.get_full_name}}! You have following friend requests';
     u.lang = 'hi-IN';
     u.rate = 1.0;
     speechSynthesis.speak(u);
</script>
{% endif %}

{% for user in lbusers_list %}

<div class="row">
  <div class="col-sm-12">

    <div class="thumbnail">
      <center> <span style="color:#222;font-size:20px;">#{{ forloop.counter }} </span><br>
      {% if user.image %} 
      &nbsp;&nbsp;<img src="/media/{{user.image}}" style="width:100px;height:80px">
      {% else %}
           &nbsp; &nbsp;<img  src="/media/image_not_available.png" class="img-responsive  profilleimage" style="width:100px;height:80px">
      {% endif %}
      <!-- <a href=""> -->
              <div class="table-responsive">
                    <table class="table table-striped" style="margin-top: 20px;">
                 <tr> <th>Name</th> 
                  <th>Username</th> 
                                       <th> Score</th>
                                       <th></th>
                                       <th></th>
                                        </tr> 
                                                <tr>
                                           <td><a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
                                            {{user.user.get_full_name}} </a>
                                                </td>
                                                  <td>
                                              {{user}}
                                                  </td>
            
                                                        <td>
                                                {{user.coin}}
                                                        </td>
                                                        
                                       <td>
                                        <a id="accept" href="{% url 'home:resolve_request' operation='accept' pk=user.pk %}" class="btn btn-success">
                                Accept</a></td>
                                <td>
                                <a id="reject" href="{% url 'home:resolve_request' operation='reject' pk=user.pk %}" class="btn btn-danger">
                                Reject </a>
                                  </td>
                                </tr>
</table> </div> 
    </div>
  </div>
 
  </div>
  {% endfor %}
</div>
{% endblock %}