{% extends "landing_header_friend.html" %}
{% load static %}
{% block  extra_css %}
<script src="{% static 'js/annyang.min.js' %}"></script>
<script src="{% static 'js/voice.js' %}"></script>

{% endblock %}

{% block content %}

<br><br>
<div class="container friend">
    <div class="col-sm-4">    
    <form method='GET' action='' id='labnol'>
    <input type='text' name='q' id='search' placeholder='Search Friend' value='{{request.GET.q}}' />
    <input type='submit' value='Search' class="btn btn-info" /> 
    </form></div>
    <div class="col-sm-4">   
    <div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Your incoming requests
  <span class="caret"></span></button>
   <ul class="dropdown-menu">
     <li> <a> {% for user in incoming_request %} {{user}} <br>  {% endfor %} </a></li>
   
   </ul></div></div>
   <div class="col-sm-4">   
   <div class="dropdown">
   <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Your sent requests
  <span class="caret"></span></button>
   <ul class="dropdown-menu">
  <li> <a> {% for user in my_sent_request_username %}{{user}} <br> {% endfor %} </a></li>
    </ul>
    </div> </div> <br>
   
  <!-- { % url "posts:detail" id=obj.id % } -->
  <!-- user = list of all users -->
  <!-- usera = list of users I sent request to -->
 <br><br>
    <div class="thumb">
    <br><div class="table-responsive">
        <table class="table table-striped">
          <tr>
            <td><b>Profile picture</b></td>
            <td><b>Name</b></td>
            <td><b>Username</b></td>
            <td><b>Status</b></td>
            <td><b>Contact No.</b></td>
            <td><b>City</b></td>
            <td><b>Friend status</b></td>
          </tr>
        {% for user in object_list %}
         <tr>
         <td>
                {% if user.image %} 
      <img src="/media/{{user.image}}" style="width: 50px; height:50px">
      {% else %}
       <img  src="/media/image_not_available.png" class="img-responsive  profilleimage" style="width: 50px; height:50px">
      {% endif %}</td> 
                {% if user.user.get_full_name %}
                 <td> {{ user.user.get_full_name }}</td>
                 {% else %}
                 <td style="color:red;">***No name***</td>
                 {% endif %}
                  <td> {{user}} </td> 
                  {% if user.description %}
                  <td> {{user.description}} </td> 
                  {% else %}
                  <td style="color:blue;">***No status***</td>
                  {% endif %}
                  {% if user.phone %}
                  <td> {{user.phone}} </td> 
                  {% else %}
                  <td style="color:red;">***No data***</td>
                  {% endif %}
                  {% if user.city %}
                <td> {{user.city}} </td> 
                {% else %}
                <td style="color:red;">***No data***</td>
                {% endif %}
           <!-- </a> -->
            {% if not user in friends %} 
                {% if user in incoming_request %}
              <td> <b style="color:blue;">has requested you.</b> </td>
                {% elif user.id in my_sent_request %}
              
                <td> <b style="color:#32c2d5;">Request sent.</b> </td>
                {% else %} 
                <td>
                  <a href="{% url 'home:send_request' pk=user.pk %}">
                    <button type="button" id="sendrequest" class="btn btn-success">Send request</button>
                  </a>
                 </td>
              {% endif %} 
            
            {% else %}
           <td>
              <a href="{% url 'home:change_friends' operation='remove' pk=user.pk %}">
                <button type="button" id="removefrnd" class="btn btn-default">Remove Friend</button>
              </a> 
            </td>
            {% endif %}
            </tr>
            {% endfor %}
            </table>
            </div>

    </div>
   
  
<center>
    <div class="pagination">
   
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span> 

</div> </center>
</div>
<br><br><br><br><br><br><br><br><br>
  
{% endblock %}
