body {
    color: #666;
    font: 300 15px/15px Roboto, Arial, Helvetica;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}
a {
    color: #00a9c6;
    text-decoration: none;
}
a:hover {
    color: #666;
}
.btn,
a,
.btn:hover,
a:hover {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
}
h1,
h2,
h3,
h4 {
    margin: 0;
    line-height: 1em;
}
h1 {
    font: 700 5em Roboto, Arial, Helvetica;
    margin: 0.25em 0;
    text-transform: uppercase;
}
h2 {
    font: 300 2.5em Roboto, Arial, Helvetica;
	 margin-bottom: 1.5em;
}
h3 {
    font: 300 2em Roboto, Arial, Helvetica;
	 margin: 2em 0 1em 0;
}
h4 {
    font: 300 1.5em Roboto, Arial, Helvetica;
	margin-bottom: 1em;
}
h4 i {
    margin-right: 0.5em;
}
p {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: 1.7em;
    text-align: justify;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #32c5d2 !important;
}
.about.spacer {
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 0;
}
.process > .row.text-center.list-inline.wowload.bounceInUp > .col-md-3.col-sm-3.why > span {
    width: 14em;
    height: 14em;
    border: 1px solid #f9f9f9;
    padding: 0;
    border-radius: 50%;
    margin: 0 1.25em;
    line-height: 17.0em;
    color: #f9f9f9;
}
.process > .row.text-center.list-inline.wowload.bounceInUp > .col-md-3.col-sm-3.why > span {
    line-height: 2em;
    display: inline-block;
    font-weight: 300;
}
.process > .row.text-center.list-inline.wowload.bounceInUp > .col-md-3.col-sm-3.why > span > i {
    font-size: 4em;
    margin-top: 22%;
}
.process > .row.text-center.list-inline.wowload.bounceInUp > .col-md-3.col-sm-3.why > span > b {
    display: block;
    font-size: 1em;
    font-weight: 300; 
}
.process > .row.text-center.list-inline.wowload.bounceInUp > .col-md-3.col-sm-3.why {
    padding: 15px 0px 0px 0px;
}
/*crosuel*/

.partners img {
    float: left;
    margin: 0 75px 30px 0;
}
.testimonails {
    min-height: 195px;
}
.testimonails img {
    margin-top: 5px;
}
.testimonails span {
    color: #888;
}
.testimonails span b {
    font-weight: 400;
}
.carousel-indicators li {
    border: 1px solid #2BB2E3;
}
.carousel-indicators {
    bottom: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background: #32c5d2 !important;
}
@media (max-width: 1200px) {
    body {
        font: 300 13px/13px Roboto, Arial, Helvetica;
    }
    .navbar-brand {
        padding-top: 11px;
    }
    .partners img {
        margin: 0 25px 25px 0;
    }
}
@media (max-width: 900px) {
    h1 {
        font: 700 3.5em Roboto, Arial, Helvetica;
    }
    h4 {
        font: 300 1.3em Roboto, Arial, Helvetica;
    }
    .btn {
        padding: 1em 2em;
    }
    .partners img {
        margin: 0 15px 25px 0;
        width: 157px;
    }
}
@media (max-width: 767px) {
    body {
        font: 300 12px/12px Roboto, Arial, Helvetica;
    }
    .navbar-nav > li > a {
        line-height: 1em;
    }
    .navbar-brand {
        padding: 7px;
    }
    .navbar-brand img {
        height: 37px;
    }
    .navbar-toggle {
        margin-top: 12px;
    }
    h2.text-center {
        text-align: left;
        font-size: 1.7em;
    }
    h4 {
        font: 300 1.2em Roboto, Arial, Helvetica;
    }
    #partners h2 {
        padding: 0 1em;
    }
    #home {
        padding-top: 5em;
    }
    .partners {
        display: block;
        float: left;
    }
    .partners img {
        width: 120px;
    }
    .about.spacer {
        padding-left: 2em;
        padding-right: 2em;
    }
    .spacer {
        padding: 2em 0 0 0;
    }
    .highlight-info .overlay {
        padding-bottom: 2em;
    }
    .grid.team div {
        margin: 0;
        padding: 0;
    }
    .footer {
        margin-top: 2em;
        padding-bottom: 2em;
    }
}