{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form1.as_p }}
        <p><label for="id_image">Image:</label> <br>
            Currently: <a href= "{{ request.user.userprofile.image.url }}" >{{ request.user.userprofile.image.url }}</a>
            <input type ='file' name='image' id="id_image" value="{{ request.user.userprofile.image.url }}" /></p>
        <button type="submit">Submit</button>
    </form>
    <br>
</div>

{% endblock %}
