{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Profile</h1>
    {% if user.image %}
    <img src="/media/{{user.image}}" alt="Me" height="100" width="100">
    {% endif %}
    <p>Username: {{ user.user }}</p>
    <p>First name: {{ user.user.first_name }}</p>
    <p>Last name: {{ user.user.last_name }}</p>
    <p>Email: {{ user.user.email }}</p>
    <p>Description: {{ user.description }}</p>
    <p>Phone: {{ user.phone }}</p>
    <p>City: {{ user.city }}</p>
    <p>Website: {{ user.website }}</p>
    <p>Coins: {{ user.coin }}</p>
    
    
   
</div>

{% endblock %}
