{% extends "base.html" %}
{% block body %}
    
    <div class='col-sm-6 col-sm-offset-3'>
      <h1>{{title}}</h1>
    <form method='GET' action=''>
    <input type='text' name='q' placeholder='Search posts' value='{{request.GET.q}}' />
    <input type='submit' value='Search' />
    </form>
    
    {% for obj in object_list %}
   
  <!-- { % url "posts:detail" id=obj.id % } -->
  <div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      {% if obj.image %}
      <img src="{{obj.image.url}}" alt="..."> 
      {% endif %}
      <div class="caption">
        <h3><a href='{{ obj.get_absolute_url }}'>{{obj.user}}</a><small> {{obj.city}} </small></h3>
        {% if obj.user.get_full_name %}<p>User: {{ obj.user.get_full_name }}</p>{% endif %}
        <p>{{obj.description|linebreaks|truncatechars:120}}</p>
        <p>{{obj.coin}}</p>
        <p><a href="{{ obj.get_absolute_url }}" class="btn btn-primary" role="button">View User</a></p>
      </div>
    </div>
  </div>
  <hr/>
  </div>

    {% endfor %}
    
    <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
  
  </div>
    {% endblock body %}
</div>